<button class="ck-btn ck-btn-blue ck-btn-raised" ng-click="showModal1=true" ck-ripple>open modal</button>
<ck-modal name="'modal'" show="showModal1" close="closeModal(scope, close)" confirm="confirm(scope, close)" >
    <h3>Modal with custom callback</h3>
    <input name="input" type="text" ng-model="data.testModal" ck-input desc="'Testing scope in modal'">
</ck-modal>
<button class="ck-btn ck-btn-green ck-btn-raised" ng-click="showModal2=true" ck-ripple="red">open modal 2</button>
<ck-modal name="'another modal'" show="showModal2">
    <h3>Modal without custom callback</h3>
    <input type="text" name="input" ng-model="data.testModal" ck-input desc="'Testing scope in modal'">
    <p>{{testModal}}</p>
    <div style="height: 1000px;">
        Long long long content
    </div>
</ck-modal>