@import "color";
@import "variable";


/* -- input directive style start --*/
.ck-input {
    display: inline-block;
    position: relative;

    input {
        border: none;
        background: none;
        border-bottom: $size-base*0.2 solid $grey;
        height: $size-base*3;
        font-size: $size-medium;
        color: $content-color;
        outline: none;
        position: relative;
    }
}

.ck-input-desc {
    position: absolute;
    top: 0.8*$size-base;
    color: lighten($content-color, 5%);
    font-size: $size-medium;
    transition: all 0.3s;
}

.ck-input.up .ck-input-desc {
    top: -1*$size-base;
    font-size: 1.2*$size-base;
}

.ck-input.focus .ck-input-desc{
    color: $blue;
}

.ck-input.error .ck-input-desc {
    color: $red;
}

.ck-input.error input {
    border-bottom-color: $red;
}

.ck-input:after {
    left: 50%;
}

.ck-input:before , .ck-input:after {
    content: '';
    display: block;
    width: 0%;
    height: 0.2*$size-base;
    position: absolute;
    bottom: 0;
    background: $blue;
    z-index: 1;
    transition: all 0.3s;
}

.ck-input:before {
    right: 50%;
}

.ck-input.focus:before ,.ck-input.focus:after {
    width: 50%;
}
/* -- input directive style end --*/


/* -- Ripple Click Effect style start -- */
.ck-ripple {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    .ck-ripple-ink {
        position: absolute;
        display: inline-block;
        border-radius: 100%;
        transform: scale(0);
        // opacity: 0;
        background: $ripple-default;
        z-index: 1;
    }
    .ck-ripple-animate {
        animation: ripple 0.5s linear;
    }
}
.ck-ripple.ck-ripple-blue .ck-ripple-ink {
    background: $ripple-blue;
}

.ck-ripple.ck-ripple-yellow .ck-ripple-ink {
    background: $ripple-yellow;
}

.ck-ripple.ck-ripple-pink .ck-ripple-ink {
    background: $ripple-pink;
}

.ck-ripple.ck-ripple-red .ck-ripple-ink {
    background: $ripple-red;
}

.ck-ripple.ck-ripple-white .ck-ripple-ink {
    background: $ripple-white;
}

.ck-ripple.ck-ripple-black .ck-ripple-ink {
    background: $ripple-black;
}

@keyframes ripple {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(5);
    }
}
/* -- ripple click effect style end -- */

/* Button set */
.ck-btn {
    display: inline-block;
    padding: 0.7*$size-base 4*$size-base;
    border: none;
    border-radius: 0.2*$size-base;
    outline: none;
    font-size: 1.4*$size-base;
    color: $button-default-color;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    background: $button-default-background;

    &:hover {
        background: $button-background;
    }
}

.ck-btn.ck-btn-primary {
    color: $button-primary-color;
}

.ck-btn.ck-btn-danger {
    color: $button-danger-color;
}

.ck-btn.ck-btn-warning {
    color: $button-warning-color;
}

.ck-btn.ck-btn-disabled {
    cursor: not-allowed;
    color: $button-disabled-color !important;
    background: $button-background !important;
}

.ck-btn.ck-btn-raised {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background: $button-raised-background;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    &:active {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
        transition-delay: 0s;
    }
}

.ck-btn.ck-btn-round {
    width: 5*$size-base;
    height: 5*$size-base;
    padding: 1*$size-base;
    font-size: 2.5*$size-base;
    border-radius: 100%;
}

.ck-btn.ck-btn-blue {
    color: $white;
    background: $button-blue;
}

.ck-btn.ck-btn-red {
    color: $white;
    background: $button-red;
}

.ck-btn.ck-btn-green {
    color: $white;
    background: $button-green;
}

.ck-btn.ck-btn-yellow {
    color: $white;
    background: $button-yellow;
}

.ck-btn.ck-btn-grey {
    color: $button-default-color;
    background: $button-background;
}

