@import "color";
@import "variable";

.ck-input {
    display: inline-block;
    position: relative;

    input {
        border: none;
        background: none;
        border-bottom: $size-base*0.2 solid $grey;
        height: $size-base*3;
        font-size: $size-medium;
        color: $content-color;
        outline: none;
        position: relative;
    }
}

.ck-input-desc {
    position: absolute;
    top: 0.8*$size-base;
    color: lighten($content-color, 5%);
    font-size: $size-medium;
    transition: all 0.3s;
}

.ck-input.up .ck-input-desc {
    top: -1*$size-base;
    font-size: 1.2*$size-base;
}

.ck-input.focus .ck-input-desc{
    color: $blue;
}

.ck-input.error .ck-input-desc {
    color: $red;
}

.ck-input.error input {
    border-bottom-color: $red;
}

.ck-input:after {
    left: 50%;
}

.ck-input:before , .ck-input:after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background: $blue;
    z-index: 1;
    transition: all 0.3s;
}

.ck-input:before {
    right: 50%;
}

.ck-input.focus:before ,.ck-input.focus:after {
    width: 50%;
}